.empty_space{
    height: 20px;
}

/* Vseobecna stranka */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff6e9;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Prihlasenie */
.prihlasenie_stranka{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.prihlasenie_stranka .profil_uprava_odozva{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2%;
}


.prihlasenie_stranka_obsah{
    overflow-y: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

.prihlasenie_stranka_logo{
    width: 50%;
    display: flex;
    justify-content: center;
}

.prihlasenie_stranka_logo img{
    height: 200px;
    width: 380px;
    margin: auto;
}

.prihlasenie_stranka_formular{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:2px solid lightgray;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 30%;
    background-color: white;
}

.prihlasenie_formular{
    margin: auto;
    width: 80%;
}

.prihlasenie_formular_kolonka{
    display: grid;
    width: 100%;
    margin-bottom: 3%;
}
.prihlasenie_formular_kolonka label{
    margin-right: auto;
}

.prihlasenie_formular form{
    display: grid;
}

.prihlasenie_stranka_formular_tlacitko{
    height: 35px;
    border-radius: 5px;
    color: black;
    border-color: lightgray;
}

.prihlasenie_stranka_formular_tlacitko_prih{
    margin-top: 1%;
    margin-bottom: 10%;
    background-color: #FF9908;
}

.prihlasenie_stranka_formular_tlacitko_reg{

}

/* Navbad a footbar */
#navbar{
    position:fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    border-bottom:1px solid lightgray;
    z-index: 2;
}

#navbar-logo{
    margin-top: auto;
    margin-bottom: auto;
}

#navbar-search-duo{
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#navbar-search-bar {
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
}
.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    z-index: 5;
}

.navbar_ikona_pozadie{
    background-color: #FF9908;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vseobecne_ikona_pozadie{
    background-color: #FF9908;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu{

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon{
    color: black;
    margin-right: 10%;
}

#footbar{
    position:fixed;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-top:1px solid lightgray;
    z-index: 2;
}

.footbar_icon{
    width: 25%;
    text-align: center;
    color: black;
}
.active_footbar_icon {
    background-color: darkgrey;
}

.inactive_footbar_icon {
    background-color: white;
}

/* Stranka s prispevkami */
#domov_tlacitko_nazad{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 8%;
    left: 1.5%;
    border-radius: 50%;
    border: 2px solid black;

    background-color: #FF9908;
    width: 50px;
    height: 50px;
    margin: auto;
}

.domov_kontajner_prispevky{
    margin: auto;
    text-align: center;
    height: 85%;
    width: 50%;
    display: inline;
}

.domov_prispevok_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 1.75%;
    border:2px solid lightgray;
    height: 80%;
    width: 50%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: top 0.25s;
    z-index: 1;
}

.domov_nadpis_prispevok{
    font-size: 3vh;
}

.domov_popis_prispevok{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2vh;
    width: 100%;
    box-sizing: border-box;

}

.fadeout {
    position: relative;
    bottom: 3.5em;
    height: 3em;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
}

.domov_prispevok_telo img{
    padding-bottom: 2%;
    max-height: 35vh;
    max-width: 35vh;
}
.domov_obrazok_prispevok img{
    max-height: 350px;
    max-width: 350px;
}

.domov_prispevok_prieskum{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 5px;
    border:2px solid lightgray;

}
.domov_prispevok_prieskum_ikona{
    text-align: center;
    width: 10%;
    margin: 1%;
}

.domov_prispevok_prieskum_otazka{
    width: 80%;
    text-align: center;
    font-size: 1.5vh;
    margin: 1%;
}

.domov_oznacenia_a_regiony{
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-top: auto;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.domov_oznacenia{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    margin-top: auto;
    overflow-x: auto;
}
.domov_oznacenie{
    font-size: 1.8vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 0.5%;

    border-radius: 5px;
    border: 1px solid #333;
    white-space: nowrap;
}

.domov_regiony{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
    margin-top: auto;
    overflow-x: auto;

}
.domov_region{
    font-size: 1.8vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 0.5%;

    border-radius: 5px;
    border: 1px solid #333;
    white-space: nowrap;
}


.animate {
    animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        top: 0;
    }
    100% {
        top: calc(100vh - 100px);
    }
}

/*Domov zobrazenie*/
.domov_zobrazeny_prispevok{
    margin: auto;
    text-align: center;
    height: 85%;
    width: 80%;
    display: inline;
}

.domov_zobrazenie_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 1.75%;
    border:2px solid lightgray;
    height: 80%;
    width: 80%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow-y:scroll;

}

.domov_zobrazenie_telo .domov_nadpis_prispevok {

}

.domov_zobrazenie_telo .domov_popis_prispevok {

    padding-bottom: 3%;
    margin: auto;
}

.domov_zobrazenie_kontajner_obrazky{
    display: flex;
    width: 50%;
    margin: 2% auto 3%;
}

.domov_zobrazenie_kontajner_obrazky domov_obrazok_prispevok{
    margin: auto 0;
}
.domov_zobrazenie_kontajner_obrazky domov_obrazok_prispevok img{
    max-height: 70vh;
    max-width: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

.domov_zobrazenie_obrazky_tlacitka{
    margin-left: auto;
    margin-right: auto;
}

.domov_zobrazenie_anketa_telo {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 50%;
    border-radius: 5px;
    border:2px solid lightgray;
}

.domov_zobrazenie_anketa_telo label{
    margin-top: 1%;
    margin-bottom: 1%;
}

.domov_zobrazenie_anketa_moznost_kontajner {
    display: flex;
    width: 90%;
    margin: 0.5% auto;
    border-radius: 5px;
    border:2px solid lightgray;
}

.domov_zobrazenie_anketa_moznost_obrazok{
    display: flex;
    justify-content: center;
    align-items: center;
}

.domov_zobrazenie_anketa_moznost_obrazok img{
    max-height: 50px;
    max-width: 50px;
    margin: 0.5% 0 0.5% 0.5%;
}


.domov_zobrazenie_anketa_moznost_text{
    position: relative;
    display: flex;
    flex: 1;
}

.domov_zobrazenie_anketa_moznost_text_nazov{
    margin-left: 3%;
    margin-right: auto;
    text-align: left;
    z-index: 1;
}
.domov_zobrazenie_anketa_moznost_text_cislo{
    margin-right: 2%;
    color: #4b5563;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
}
.domov_zobrazenie_anketa_moznost_text_pozadie{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lightgray;
    opacity: 0.5;
}

.domov_zobrazenie_anketa_moznost_pocet_hlasov{
    text-align: right;
    margin-right: 5%;
}

.preferencie_tlacitka_okno{
    width: 80%;
    margin: auto;
}


.domov_zobrazenie_anketa_telo .preferencie_tlacitko_uloz{
    font-size: 1.5vh;
    margin-left: auto;
}
.domov_zobrazenie_anketa_statistika_tlacitko i{
    margin: auto;
    text-align: center;
}
.domov_zobrazenie_telo .domov_oznacenia_a_regiony {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.domov_zobrazenie_telo .domov_oznacenia {

}
.domov_zobrazenie_telo .domov_oznacenie {

}
.domov_zobrazenie_telo .domov_regiony {
    justify-content: left;
}
.domov_zobrazenie_telo .domov_region {
}

.domov_zobrazenie_telo_hlasovanie{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 50%;
    border-radius: 5px;
    border:2px solid lightgray;
}

.domov_zobrazenie_telo label{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.domov_zobrazenie_telo_hlasovanie_hlasy{
    display: flex;
    width: 45%;
}

.domov_zobrazenie_telo_hlasovanie_zobrazenia{
    width: 45%;
    margin-left: auto;
    display: flex;
}

.domov_zobrazenie_telo_hlasovanie_kontajner{
    display: flex;
    height: 35px;
    width: 45px;
    border-radius: 5px;
    border:2px solid lightgray;
    margin-right: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.domov_zobrazenie_telo_hlasovanie_kontajner i{
    margin: 5% 10% 5% 5%;
}

.domov_zobrazenie_telo_hlasovanie_kontajner p{
    margin: 5% 10% 5% 10%;
}

.domov_zobrazenie_komentare_telo{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 50%;
    border-radius: 5px;
    border:2px solid lightgray;
}

.domov_zobrazenie_komentare_pridaj_kontajner{
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.domov_zobrazenie_komentare_pridaj_kontajner input{
    width: 80%;
    margin-right: 3%;

}
.domov_zobrazenie_komentare_pridaj_kontajner i{

}

.domov_zobrazenie_komentare_telo_komentare_kontajner{

}

.domov_zobrazenie_komentare_komentar{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.domov_zobrazenie_komentare_komentar_vrch{
    display: flex;
    width: 100%;
    border:2px solid lightgray;
}

.domov_zobrazenie_komentare_komentar_stred{
    display: flex;
    height: 40px;
    width: 100%;

}

.domov_zobrazenie_komentare_komentar_spodok{
    display: flex;
    width: 100%;
}

.domov_zobrazenie_komentare_komentar_obrazok{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-left: 1%;
}
.domov_zobrazenie_komentare_komentar_obrazok img{
    max-height: 40px;
    max-width: 40px;
}
.domov_zobrazenie_komentare_komentar_telo{
    margin-left: 2%;
}

.domov_zobrazenie_komentare_komentar_meno{
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto;
    text-align: left;
}

.domov_zobrazenie_komentare_komentar_text{
    text-align: left;
    margin: 0;
    margin-bottom: auto;
}

.domov_zobrazenie_komentare_hlasovanie_za_kontajner{
    border-radius: 5px;
    border:2px solid lightgray;
    display: flex;
    margin-left: auto;
    padding-left: 1%;
    padding-right: 1%;
}

.domov_zobrazenie_komentare_hlasovanie_proti_kontajner{
    border-radius: 5px;
    border:2px solid lightgray;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    justify-content: center;
}

.domov_zobrazenie_komentare_hlasovanie_za_kontajner i, .domov_zobrazenie_komentare_hlasovanie_proti_kontajner i{
    margin-top: auto;
    margin-bottom: auto;
}

.domov_zobrazenie_komentare_hlasovanie_za_kontajner p, .domov_zobrazenie_komentare_hlasovanie_proti_kontajner p{
    margin-top: auto;
    margin-bottom: auto;
}

/* Stranka s preferenciami */
.preferencie_stranka{
    display: inline;
    height: 80%;
    width: 45%;
    margin: auto;
}
.prepinac_medzi_preferenciami_mapou{
    display: flex;
    width: 30%;
    margin: 1.5% auto;
}

.prepinac_medzi_preferenciami_mapou i{
    scale: 0.6;
    margin-left: 2%;
    margin-top: 2%;
}

/* Kontajner pre switch */
.switch {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    transform: scale(0.9);
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

/* Kruhovy slider */
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FF9908;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.preferencie_stranka_regiony{
    overflow-y: auto;
}

#mapa_preferencie{
    position: relative;
    background-color: white;
    border-radius: 5px;
    border:2px solid lightgray;
    width: 475px;
    height: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

#mapa_preferencie img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.mapa_preferencie :hover{
    fill: #00b0ff;
}
#map_form .prihlasenie_formular_kolonka{
    width: 475px;
    margin-left: auto;
    margin-right: auto;
}


#vybrate_regiony{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-top: 1%;
}

.vybrate_regiony{
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 0.5%;
    border-radius: 5%;
    border: 1px solid #333;
    white-space: nowrap;
}

.vybrate_regiony:hover {
    background-color: #ff3d00;
    color: white;
}

.mapa_regiony{
    display: none;
}

#pref_form{
    /*Ak odstranim zmiznu tlacitka*/
    overflow-y: auto;
}

.prepinace_preferencie{
    background-color: white;
    border-radius: 5px;
    border:2px solid lightgray;
    width: 90%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.prepinace_preferencie p{
    font-size:  2vh;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 30%;
    font-weight: bold;
}

.preferencia_oznacenie_telo{
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.preferencia_oznacenie_ikony{
    display: flex;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
}

.preferencia_oznacenie_ikona_zakaz, .preferencia_oznacenie_ikona_neutral, .preferencia_oznacenie_ikona_oblubena{
    border-radius: 50%;
    border: 1px solid #333;
    width: 40px;
    height: 40px;
    scale: 1.30;
    background-color: white;
}

.preferencia_oznacenie_ikona_zakaz i{
    margin-top: 10%;
    margin-left: 16%;
    scale: 0.9;
    color: black;
}

.preferencia_oznacenie_ikona_neutral i{
    margin-top: 12.5%;
    margin-left: 18%;
    scale: 0.9;
    color: black;
}

.preferencia_oznacenie_ikona_oblubena i{
    margin-top: 14%;
    margin-left: 9%;
    scale: 0.8;
    color: black;
}
.preferencia_oznacenie_ikona_zakaz:hover {
    background-color: #ff3d00;
}
.preferencia_oznacenie_ikona_zakaz:hover i{
    color: white;
}

.preferencia_oznacenie_ikona_neutral:hover {
    background-color: #00b0ff;
}
.preferencia_oznacenie_ikona_neutral:hover i{
    color: white;
}

.preferencia_oznacenie_ikona_oblubena:hover {
    background-color: #64dd17;
}
.preferencia_oznacenie_ikona_oblubena:hover i{
    color: white;
}

.preferencie_tlacitka_okno{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 10%;
}

.preferencie_tlacitko_uloz, .preferencie_tlacitko_reset {
    background-color: #FF9908;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.preferencie_tlacitko_uloz:hover{
    background-color: #64dd17;
   color: white;
}

.preferencie_tlacitko_reset:hover {
    background-color: #ff3d00;
    color: white;
}

/* Pridaj prispevok */
.pridaj_prispevok_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:2px solid lightgray;
    height: 80%;
    width: 50%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow-y: auto;
}

.pridaj_prispevok_formular{
    margin: auto;
    width: 80%;
}

.pridaj_prispevok_formular form{
    display: grid;
}

.pridaj_prispevok_formular_kolonka{
    display: grid;
    width: 100%;
    margin-bottom: 3%;
}
.pridaj_prispevok_formular_kolonka label{
    margin-right: auto;
}

.pridaj_prispevok_anketa_prepinac{
    display: flex;
    margin-bottom: 1%;
}

.pridaj_prispevok_anketa_prepinac label{
    margin-right: 0;
    width: 40%;
}
#pridaj_prispevok_anketa_otazka{
    display: none;
}

#pridaj_prispevok_anketa_prepinac_obrazok{
    display: none;
}
.pridaj_prispevok_anketa_pridaj_moznost{
    display: none;
}
#pridaj_prispevok_anketa_pridane_moznosti{
    display: none;
}

.pridaj_prispevok_anketa_moznosti{
    width: 100%;
}

.pridaj_prispevok_anketa_moznost{
    display: flex;
    border-radius: 5px;
    border:2px solid lightgray;
}
.pridaj_prispevok_anketa_moznost img{
    max-height: 50px;
    max-width: 50px;
    margin: 0.5% 0 0.5% 0.5%;
}
.pridaj_prispevok_anketa_moznost p{
    margin-left: 3%;
}
.pridaj_prispevok_anketa_moznost i{
    margin: auto 1.5% auto auto;
}

#pridaj_prispevok_vybrate_oznacenia, #pridaj_prispevok_vybrate_regiony{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-top: 1%;
}

.pridaj_prispevok_vybrate_oznacenie, .pridaj_prispevok_vybraty_region{
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 0.5%;
    border-radius: 5%;
    border: 1px solid #333;
    white-space: nowrap;
}

.pridaj_prispevok_vybrate_oznacenie:hover, .pridaj_prispevok_vybraty_region:hover {
    background-color: #ff3d00;
    color: white;
}

#mapa_stranka{
    position: relative;
    display: inline;
    height: 80%;
    width: 90%;
    margin: auto;
}

#mapa_stranka #mapa_area{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Profil uprava */
.profil_uprava_meno{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
    border:2px solid lightgray;
}

.profil_uprava_odozva{
    width: 75%;
    margin: 10% auto 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border:2px solid black;
}

.profil_uprava_odozva_chyba{
    background-color: lightcoral;
}

.profil_uprava_odozva_uspech{
    background-color: lightgreen;
}

.profil_uprava_kontajner{
    height: 100%;
    width: 100%;
}

.profil_uprava_kontajner_cast{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.profil_uprava_profil_obrazok{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border:2px solid lightgray;
    height: 210px;
    width: 210px;
    margin: auto;
}
.profil_uprava_profil_obrazok img{
    max-height: 200px;
    max-width: 200px;
}
.profil_uprava_profil_meno{
    margin: auto;
    text-align: center;
}
.profil_uprava_obrazok_formular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.profil_uprava_obrazok_formular > * {
    margin-bottom: 10px;
}

.profil_uprava_profil_text_formular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border:2px solid lightgray;
}

.profil_uprava_profil_text_formular_napoveda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    opacity: 0.8;
}

.profil_uprava_profil_text_formular_napoveda p{
    margin: 0;
}

.profil_uprava_profil_text_vstup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 5%;

}

.profil_uprava_profil_text_vstup p{
    width: 130px;
    margin-right: 5%;

}
.profil_uprava_profil_text_vstup input{
    height: 25px;
    width: 120px;
}

.profil_uprava_profil_text_vstup button{
    margin: auto;
}

.profil_uprava_profil_text_vstup i{
    margin: auto;
}

/* Profil */
.profil_kontajner_panel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 90%;
    margin: 1% 5% 1% auto;
}

.profil_kontajner_panel .domov_zobrazenie_komentare_pridaj_kontajner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    border:2px solid lightgray;
}

.profil_kontajner_statistiky{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.profil_kontajner_statistiky_okno{
    height: 100px;
    width: 140px;
    margin: 1%;
    border:2px solid lightgray;
    display: flex;
    flex-direction: column;
}
.profil_kontajner_statistiky_okno label{
    margin: auto auto 5%;
}

.profil_kontajner_statistiky_okno h3{
    margin: 0 auto auto;
}

/* Spravy */
.spravy_kontajner_konverzacie{
    margin: auto;
    text-align: center;
    height: 85%;
    width: 50%;
    display: inline;
}
.spravy_kontajner_konverzacie_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 1.75%;
    border:2px solid lightgray;
    height: 80%;
    width: 50%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: top 0.25s;
    z-index: 1;
}
.spravy_kontajner_konverzacie_zoznam{
    height: 90%;
    width: 90%;
    margin: auto;
    overflow-y:scroll;
}

.spravy_kontajner_konverzacie_zoznam .domov_zobrazenie_komentare_komentar_vrch{
    padding-top: 2%;
    padding-bottom: 2%;
}

.spravy_kontajner_konverzacie_zoznam .domov_zobrazenie_komentare_komentar_vrch img{
    max-height: 50px;
    max-width: 50px;
}


.spravy_kontajner_konverzacie_konverzacia{

}


.spravy_kontajner_zobrazena_konverzacia{
    margin: auto;
    text-align: center;
    height: 85%;
    width: 50%;
    display: inline;
}

.spravy_zobrazena_konverzacia_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 0.1%;
    border:2px solid lightgray;
    height: 80%;
    width: 80%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.spravy_zobrazena_konverzacia_telo_profil{
    display: flex;
    width: 90%;
    margin: 2% auto;
}
.spravy_zobrazena_konverzacia_telo_profil a{
    margin-right: 5%;
}

.spravy_zobrazena_konverzacia_telo_profil img{
    max-height: 80px;
    max-width: 80px;
}
.spravy_zobrazena_konverzacia_telo_profil h2{
    font-weight: bold;
}

.spravy_zobrazena_konverzacia_telo_spravy{
    height: 90%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-y:auto;
}

.spravy_zobrazena_konverzacia_telo_sprava{
    display: flex;
    width: 80%;
    border:2px solid lightgray;
    padding-left: 5px;
    margin-bottom: 2%;
}
.spravy_zobrazena_konverzacia_telo_sprava p{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Stranka moderator panel */
.moderator_panel_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 1.75%;
    border:2px solid lightgray;
    height: 80%;
    width: 50%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: top 0.25s;
    z-index: 1;
    overflow-y:scroll;
    text-align: center;
}

.moderator_panel_telo_cast{

    text-align: center;
}

.moderator_panel_telo_tabulka{
    display: flex;
    flex-direction: column;
}
.moderator_panel_telo_tabulka_riadok{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display: flex;
    border-radius: 5px;
    border:2px solid lightgray;
    justify-content: space-around;
    align-items: center;

}

/* Stranka pravidla */
.pravidla_telo{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 1.75%;
    border:2px solid lightgray;
    height: 80%;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: top 0.25s;
    z-index: 1;
    overflow-y:scroll;
    text-align: left;
}
.pravidla_telo h2{
    margin-left: auto;
    margin-right: auto;
}


/* Prisposobenie k displayu */
@media (max-width: 1600px){
    .domov_prispevok_telo, .spravy_kontajner_konverzacie_telo, .moderator_panel_telo{
        width: 60%;
    }
    .domov_obrazok_prispevok img{
        max-height: 300px;
        max-width: 300px;
    }
    .pridaj_prispevok_telo{
        width: 60%;
    }
}

@media (max-width: 1200px){
    .prihlasenie_stranka_obsah{
        display: grid;
        width: 100%;
    }

    .prihlasenie_stranka_logo{
        width: 100%;
        height: 100%;
    }

    .prihlasenie_stranka_logo img{
        height: 120px;
        width: 226px;
        margin: auto;
    }
    .prihlasenie_stranka_formular{
        margin: auto;
        width: 60%;
    }
    #footbar i {
        transform: scale(0.8);
    }
    #navbar-logo{
        margin-left: 0;
        transform: scale(0.9);
    }
    .navbar-icon{
        margin-right: 7%;

    }

    .domov_prispevok_telo, .spravy_kontajner_konverzacie_telo, .moderator_panel_telo{
        width: 65%;
    }
    .domov_obrazok_prispevok img{
        max-height: 275px;
        max-width: 275px;
    }
    .domov_zobrazenie_kontajner_obrazky{
        width: 70%;
    }
    .domov_zobrazenie_anketa_telo, .domov_zobrazenie_komentare_telo{
        width: 60%;
    }
    .domov_zobrazenie_telo_hlasovanie{
        width: 60%;
    }
    .preferencie_stranka{
        width: 50%;
    }
    .prepinac_medzi_preferenciami_mapou{
        width: 40%;
    }
    .preferencia_oznacenie_ikona_zakaz, .preferencia_oznacenie_ikona_neutral, .preferencia_oznacenie_ikona_oblubena{
        transform: scale(0.95);
    }
    .preferencie_tlacitka_okno{
        margin-top: 2.5%;
        margin-bottom: 13%;
    }
    .pridaj_prispevok_telo{
        width: 70%;
    }
}

@media (max-width: 900px){
    #footbar i {
        transform: scale(0.7);
    }
    #navbar-logo{
        margin-left: 0;
        transform: scale(0.8);
    }
    .navbar-icon{
        margin-right: 4%;

    }

    #mapa_preferencie{
        width: 265px;
        height: 160px;
    }
    #map_form .prihlasenie_formular_kolonka{
        width: 265px;
    }

    .prihlasenie_stranka_formular{
        transform: scale(1.5);
    }
    .domov_prispevok_telo, .spravy_kontajner_konverzacie_telo, .moderator_panel_telo{
        width: 75%;
    }
    .domov_obrazok_prispevok img{
        max-height: 250px;
        max-width: 250px;
    }
    .domov_zobrazenie_kontajner_obrazky{
        width: 85%;
    }
    .domov_zobrazenie_anketa_telo, .domov_zobrazenie_komentare_telo {
        width: 70%;
    }
    .domov_zobrazenie_telo_hlasovanie{
        width: 70%;
    }
    .domov_prispevok_icon_pozadie{
        margin-left: 1%;
    }
    .preferencie_stranka{
        width: 60%;
    }
    .prepinac_medzi_preferenciami_mapou{
        width: 50%;
    }
    .preferencia_oznacenie_ikona_zakaz, .preferencia_oznacenie_ikona_neutral, .preferencia_oznacenie_ikona_oblubena{
        transform: scale(0.9);
    }
    .preferencie_tlacitka_okno{
        margin-top: 3%;
        margin-bottom: 17%;
    }
    .pridaj_prispevok_telo{
        width: 80%;
    }
    .pridaj_prispevok_formular{
        width: 85%;
    }
}

@media (max-width: 650px){

    .prihlasenie_stranka_formular{
        transform: scale(1.4);
    }
    .prihlasenie_stranka_idea img{
        transform: scale(0.5);
    }
    #footbar i {
        transform: scale(0.6);
    }
    #navbar-logo{

        transform: scale(0.7);
    }
    #navbar #navbar-search-duo{
        transform: scale(0.9);
    }
    .navbar-icon{
        margin-right: 1.5%;
        transform: scale(0.75);
    }
    .domov_prispevok_telo, .spravy_kontajner_konverzacie_telo, .moderator_panel_telo{
        width: 85%;
        height: 80%;
    }
    .domov_obrazok_prispevok img{
        max-height: 200px;
        max-width: 200px;
    }
    .domov_obrazok_prispevok img{
        max-height: 200px;
        max-width: 200px;
    }
    .domov_zobrazenie_telo .domov_oznacenia_a_regiony {
        height: 100px;
    }
    .domov_zobrazenie_kontajner_obrazky{
        width: 95%;
    }
    .domov_zobrazenie_anketa_telo, .domov_zobrazenie_komentare_telo {
        width: 80%;
    }
    .domov_zobrazenie_telo_hlasovanie{
        width: 80%;
    }
    .domov_zobrazenie_telo_hlasovanie label{
        display: none;
    }
    .domov_zobrazenie_telo_hlasovanie_kontajner{
        margin-left: auto;
        margin-right: auto;
    }
    .preferencie_stranka{
        width: 70%;
    }
    .prepinac_medzi_preferenciami_mapou{
        width: 60%;
    }
    .preferencia_oznacenie_ikona_zakaz, .preferencia_oznacenie_ikona_neutral, .preferencia_oznacenie_ikona_oblubena{
        transform: scale(0.75);
    }
    .preferencie_tlacitka_okno{
        margin-top: 4%;
        margin-bottom: 20%;
    }
    .pridaj_prispevok_telo{
        width: 90%;
    }
    .pridaj_prispevok_formular{
        width: 90%;
    }
}
